<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.min.js'></script>
	<script src='/javascripts/mastermind.js'></script>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	<div id="game">
		<button id="game" type="button" >Zacznij Grę</button>
		<span id="response"></span>
		
	</div>
  </body>
</html>
