body {
	padding-top: 20px;
	padding-bottom: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #000000;
}

a {
  color: #00B7FF;
}

#header {
	padding-top: 15px;
	text-align: center;
	background-color: #C5D4E9;
	margin-left: 350px;
	margin-right: 350px;
	height: 40px;
	font-size: 1.2em;
}
#game {
	background-color: #6491FB;
	margin-left: 350px;
	margin-right: 350px;
	text-align: center;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	border: 2px solid gray;
	font-size: 1.3em;
}
#game table {
	margin-left: auto;
	margin-right: auto;
}
#manage{
	background-color: #649154;
	margin-left: 350px;
	margin-right: 350px;
	text-align: center;
	padding-bottom: 10px;
}

#manage #start {
	background-color: #FFFF4C;
	border: 0px;
	font-weight: bold;
}

#manage #mark {
	background-color: #FF4C4C;
	border: 0px;
	font-weight: bold;
}

#manage select {
	margin-left: 5px;
	margin-right: 20px;
}

#manage table {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

.inputsNow {
	width: 25px;
	text-align: center;
}
 
.inputsHist {
	width: 25px;
	background-color: #BBBBBB;
	text-align: center;
}

.pointsNow {

}

.pointsHistory {

}

#play {
	
}